@media (min-width: 990px) {
  .section1 .container .wrap {
    height: calc(100vh - 70px);
  }
}
.why-choose .items-why {
  border: 1px solid #ebebeb;
}
.list-items-achievements ul li img {
  width: 100%;
  height: auto;
}
.section-feedback .item-feedback .item {
  border-radius: 4px;
  border: 1px solid #ebebeb;
  border-bottom: 2px solid #7e0000;
}
.section-news .item-news .item {
  border-radius: 4px;
  border: 1px solid #ebebeb;
}
.footer .content .s-content {
  margin-bottom: 20px;
}
.section-comment .container::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #4b4b4b;
  z-index: 11;
  left: 30px;
}
@media (min-width: 1536px) {
  .section-comment .container::before {
    left: 150px;
  }
}
@media (max-width: 768px) {
  .section-comment .container::before {
    display: none;
  }
}
.section-news .item-news,
.item-feedback {
  border-radius: 4px;
  transition: all 0.3s;
}
.section-news .item-news:hover,
.section-feedback .item-feedback:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.22);
}
.nav-language-desktop li {
  padding: 0.5rem 1rem;
  transition: all 0.3s;
  border-radius: 4px;
}
.nav-language-desktop li:hover {
  background-color: #ff671f;
  color: #fff;
}
.nav-language-mobile ul li {
  padding: 0 40px;
  line-height: 3rem;
  font-size: 20px;
  border-bottom: 1px solid #ebebeb;
}
.language-mobile {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.5s;
  top: 0;
  right: -100%;
}
.language-mobile.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  right: 0;
}
.pagination-achievements .swiper-pagination-bullet {
  background: #f9f9f9;
}
.sl-achievements_mains .item-achievements img {
  margin: auto;
}
@media (max-width: 640px) {
  .section-service .items-service {
    margin-bottom: 10px;
  }
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}
body {
  font-family: "Roboto", sans-serif;
}
.section-service .items-service {
  border-radius: 4px;
  border: 1px solid #ebebeb;
}
.why-choose .items-why {
  transition: all 0.3s;
}
.why-choose .items-why:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section-service .items-service .btn-buynow {
  transition: all 0.3s;
}
.section-service .items-service .btn-buynow:hover {
  box-shadow: #ff8692 0px 4px 4px 0px;
}
.section-question .item-question {
  transition: all 0.3s;
}
.reply_comment {
  display: none;
  transition: all 0.3s;
}
.reply_comment.active {
  display: block;
}
.answer {
  display: none;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  height: 0;
}
.answer.active {
  display: block;
}
.question i {
  transition: all 0.3s;
}
.question i.active {
  transform: rotate(90deg);
}
.section-comment .interact .reply_comment .box_comment {
  display: block;
  position: relative;
  line-height: 1.358;
  word-break: break-word;
  border: 1px solid #d3d6db;
  word-wrap: break-word;
  background: #fff;
  box-sizing: border-box;
  cursor: text;
  font-size: 14px;
  padding: 0;
}
.section-service .items-service .title {
  transition: all 0.3s;
}
.section-service .items-service .title:hover {
  color: #dc8f00;
}
.section-comment .comment .avatar {
  flex: 1;
}
.header-language ul li.active {
  background-color: #ff671f;
  color: #fff;
  border-radius: 4px;
}
.header-language ul {
  display: flex;
  width: 100%;
  gap: 8px;
}
.items-service .img-item-service img {
  transition: all 0.3s;
}
.items-service .img-item-service:hover img {
  transform: scale(1.1);
}
.sidebar ul li {
  margin: 8px 0;
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.3s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sidebar ul li a {
  padding: 12px;
  display: flex;
}
.sidebar ul li:hover {
  background-color: #ff671f;
  color: #fff;
  transform: scale(1.05);
}
table,
th,
td {
  border: 1px solid #dee2e6;
  cursor: default;
}
th,
td {
  padding: 4px;
  word-wrap: break-word;
}
.section-service .items-service {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.3s;
}
.section-service .items-service:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.table th,
.table td {
  padding: 0.5rem;
  word-break: break-word;
}
.table tr {
  transition: all 0.3s;
}
.table-result tr:hover {
  background: #0047bb;
  color: #ffffff;
}
input,
select {
  outline: none;
}
.modal-register {
  display: none;
}
.modal-register.active {
  display: block;
}
.btn-submit::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #268e5b;
  transition: all 0.3s;
}
.btn-submit:hover::after {
  width: 100%;
}
.btn-submit {
  transition: all 0.3s;
}
@media (max-width: 480px) {
  .table-result th:nth-child(2) {
    width: 33%;
  }
  .table-result th:nth-child(3) {
    width: 22%;
  }
  .table-result {
    font-size: 13px;
  }
}
header {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
